@model List<ThongKeThang>
@{
    ViewData["Title"] = "Thống kê";
}
<h2>Thống kê doanh thu</h2>
<form asp-controller="ThongKe" asp-action="ThongKeThang" method="get">
    <label for="thang">Chọn tháng:</label>
    <select name="thang" id="thang">
        <option value="1">Tháng 1</option>
        <option value="2">Tháng 2</option>
        <option value="3">Tháng 3</option>
        <!-- Thêm các tháng khác vào đây nếu cần -->
    </select>
    <button type="submit">Thực hiện</button>
</form>

@if (Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>Tên Nhân Viên</th>
                <th>Chức Vụ</th>
                <th>Tháng </th>
                <th>Thực Lãnh</th>
                <th>Tổng Doanh Thu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TenNhanVien</td>
                    <td>@item.TenChucVu</td>
                    <td>@item.Thang</td>
                    <td>@item.ThucLanh</td>
                  
                </tr>
            }
            <tr>
                <td colspan="2"><strong>Tổng doanh thu:</strong></td>
                <td>@string.Format("{0:N0}", Model.Sum(x => x.TongDoanhThuThang))</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Không có dữ liệu thống kê doanh thu.</p>
}
@section Styles {
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
}
