@model IEnumerable<QLNS.Models.NhanVien>

@{
    ViewData["Title"] = "Nhân Viên";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />
}
<div class="card">
    <h5 class="card-header text-center">@ViewData["Title"]</h5>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <p><a asp-action="Create" class="btn btn-success"><i class="fa-soild fa-plus"></i> Thêm mới</a></p>
            </div>
            <div class="col-md-6 text-end">
                <div id="export-buttons">
                    <button id="export-excel-btn" class="btn btn-primary"><i class="fa-solid fa-file-excel"></i> Xuất Excel</button>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <div id="export-buttons"></div>
            </div>
        </div>
     
        <table id="datatable" class="table table-sm table-hover table-striped table-bordered mb-0">
            <thead>
                <tr>

                    <th class="align-middle text-center">   @Html.DisplayNameFor(model => model.MaNhanVien)</th>
                    <th class="align-middle text-center">  @Html.DisplayNameFor(model => model.TenNhanVien)</th>
                    <th class="align-middle text-center">    @Html.DisplayNameFor(model => model.HinhAnh)</th>
                    <th class="align-middle text-center">  @Html.DisplayNameFor(model => model.GioiTinh)</th>
                    <th class="align-middle text-center">   @Html.DisplayNameFor(model => model.NgaySinh)</th>
                    <th class="align-middle text-center">  @Html.DisplayNameFor(model => model.CanCuocCongDan)</th>



                    <th>  @Html.DisplayNameFor(model => model.ChucVu)</th>
                    <th>   @Html.DisplayNameFor(model => model.ChuyenMon)</th>


                    <th>  @Html.DisplayNameFor(model => model.PhongBan)</th>


                    <th width="5%" class="align-middle text-center">Xem</th>
                    <th width="5%" class="align-middle text-center">Sửa</th>
                    <th width="5%" class="align-middle text-center">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var stt = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>

                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.MaNhanVien)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.TenNhanVien)</td>
                        <td class="align-middle text-center"><img src="/uploads/@item.HinhAnh" width="60" class="img-thumbnail" /></td>
                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.GioiTinh)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                        <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.CanCuocCongDan)</td>

                        <td class="align-middle text-center">  @Html.DisplayFor(modelItem => item.ChucVu.TenChucVu)</td>
                        <td class="align-middle text-center">  @Html.DisplayFor(modelItem => item.ChuyenMon.TenChuyenMon)</td>
                        <td class="align-middle text-center"> @Html.DisplayFor(modelItem => item.PhongBan.TenPhongBan)</td>
                        <td class="align-middle text-center"><a asp-action="Details" asp-route-id="@item.ID"><i class="fa-solid fa-eye"></i></a></td>
                        <td class="align-middle text-center"><a asp-action="Edit" asp-route-id="@item.ID"><i class="fa-light fa-pen-to-square"></i></a></td>
                        <td class="align-middle text-center"><a asp-action="Delete" asp-route-id="@item.ID"><i class="fa-light fa-trash-can text-danger"></i></a></td>
                    </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script>
        var table = $('#datatable').DataTable({
            language: {
                processing: 'Đang xử lý...',
                lengthMenu: 'Hiển thị _MENU_ dòng',
                zeroRecords: 'Không tìm thấy dòng nào phù hợp',
                info: 'Đang xem _START_ đến _END_ trong tổng số _TOTAL_ dòng',
                infoEmpty: 'Đang xem 0 đến 0 trong tổng số 0 dòng',
                emptyTable: 'Không có dữ liệu',
                infoFiltered: '(được lọc từ _MAX_ dòng)',
                infoPostFix: '',
                search: 'Tìm kiếm:',
                paginate: {
                    first: '<i class="fa-duotone fa-arrow-left-to-line"></i>',
                    last: '<i class="fa-duotone fa-arrow-right-to-line"></i>',
                    next: '<i class="fa-duotone fa-arrow-right"></i>',
                    previous: '<i class="fa-duotone fa-arrow-left"></i>'
                },
             
            },
                         
            
        });
        table.buttons().container().appendTo('#export-buttons');
        $('#export-buttons .btn').removeClass('btn-secondary').addClass('btn-info');
        $('#datatable').wrap('<div class="table-responsive"></div>');
    </script>
    
    <script>
        $(document).ready(function () {
            $('#export-excel-btn').click(function () {
                window.location.href = '@Url.Action("ExportToExcel", "NhanVien")';
            });
        });
    </script>

}