@model QLNS.Models.NhanVien

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhanVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanCuocCongDan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanCuocCongDan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiCapCanCuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiCapCanCuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapCanCuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapCanCuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BangCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BangCap.TenBangCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChucVu.TenChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuyenMon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuyenMon.TenChuyenMon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanToc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanToc.TenDanToc)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhongBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhongBan.TenPhongBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuocTich)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuocTich.TenQuocTich)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TonGiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TonGiao.TenTonGiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrinhDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrinhDo.TenTrinhDo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
