@model QLNS.Models.ThoiGianLamViec

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThoiGianLamViec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNgayNghiID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNgayNghiID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNgayCong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNgayCong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
