@model IEnumerable<QLNS.Models.ChuyenMon>

@{
    ViewData["Title"] = "Chuyên Môn";
}

<div class="card">
    <h5 class="card-header text-center">@ViewData["Title"]</h5>
    <div class="card-body">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <p><a asp-action="Create" class="btn btn-success"><i class="fa-light fa-plus"></i> Thêm mới</a></p>
        <table class="table table-sm table-hover table-striped table-bordered mb-0">
            <thead>
                <tr>
                    <th width="5%" class="text-center">Stt</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.MaChuyenMon)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.TenChuyenMon)</th>
                    <th width="5%" class="text-center">Sửa</th>
                    <th width="5%" class="text-center">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var stt = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@stt</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.MaChuyenMon)</td>
                        <td class="text-center">@Html.DisplayFor(modelItem => item.TenChuyenMon)</td>
                        <td class="text-center"><a asp-action="Edit" asp-route-id="@item.ID"><i class="fa-light fa-pen-to-square"></a></td>
                        <td class="text-center"><a asp-action="Delete" asp-route-id="@item.ID"><i class="fa-light fa-trash-can text-danger"></a></td>
                    </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>