@model List<ThongKeNam>
@{
    ViewData["Title"] = "Thống kê";
}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css" />
}
<form asp-controller="ThongKeNam" id="exportForm" asp-action="ThongKeNam" method="get" style="padding-top: 4%;padding-left: 3%; font-size: 16px;">
    <select style="margin-left: 10px;margin-right: 20px;" name="Nam" id="Nam">
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
    </select>
    <button type="button" onclick="submitForm()">Thực hiện</button>
    <button type="submit" class="btn btn-success" style="margin-left:2%">Xuất Excel</button>
</form>

<h2 style="text-align:center">Thống kê doanh thu</h2>
<div class="card-body" style="padding-left:2%; padding-right:2%;">
    @if (Model.Any())
    {
        <table id="datatable" class="table table-sm table-hover table-striped table-bordered mb-0" style="font-size:18px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tháng</th>
                    <th>Tổng tiền Doanh Thu Tháng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.ThangID</td>
                        <td>@item.TongDoanhThuThangID.ToString("N0") VND</td>
                    </tr>
                }
                <tr>
                    <td colspan="2"><strong>Tổng doanh thu:</strong></td>
                    <td>@string.Format("{0:N0}", Model.Sum(x => x.TongDoanhThuNam).ToString("N0") + " VND")</td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <p>Không có dữ liệu thống kê doanh thu.</p>
    }
</div>
@section Scripts {
    <script>
        $('#exportForm').submit(function (event) {
            event.preventDefault(); // Ngăn chặn việc gửi form mặc định
            var selectedYear = $('#Nam').val(); // Lấy giá trị của năm được chọn
            var exportUrl = '@Url.Action("ExportExcel", "ThongKeNam")' + '?Nam=' + selectedYear; // Xây dựng URL
            window.location.href = exportUrl; // Chuyển hướng người dùng đến action ExportExcel với năm được chọn
        });

        function submitForm() {
            var selectedYear = $('#Nam').val(); // Lấy giá trị của năm được chọn
            var thongKeUrl = '@Url.Action("ThongKeNam", "ThongKeNam")' + '?Nam=' + selectedYear; // Xây dựng URL
            window.location.href = thongKeUrl; // Chuyển hướng người dùng đến action ThongKeNam với năm được chọn
        }

        // Set giá trị cho dropdown năm nếu có
        $(document).ready(function () {
            const params = new URLSearchParams(window.location.search);
            const selectedYear = params.get('Nam');
            if (selectedYear) {
                $('#Nam').val(selectedYear);
            }
        });
    </script>
}
