@model QLNS.Models.HopDong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HopDong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.CanCuocCongDan)
        </dd>
    </dl>
</div>


<div class="card">
    <h2 class="card-header text-center text-light bg-dark" style="font-weight: 500;font-family:none;">@ViewData["Title"]</h2>
    <br />
    <div class="card-body" style="display: flex; ">
        <div class="d-block flex-shrink-0" style="align-items:center;padding-right: 20px;">
            <img class="rounded-circle" style="margin-left:138px" src="~/uploads/@Model.NhanVien.HinhAnh" width="80" />
            <dl class="row" style="margin-left:130px">
                <dt class="col-sm-0" style="    margin-left: -5px;">
                    @Html.DisplayNameFor(model => model.NhanVien.MaNhanVien):
                </dt>
                <dd class="col-sm-9" style="margin-left:2px">
                    @Html.DisplayFor(model => model.NhanVien.MaNhanVien)
                </dd>
            </dl>
        </div>
        <dl class="row" style="margin-left: calc(-0.5* var(--bs-gutter-x));">

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.MaHopDong)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.MaHopDong)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.TenHopDong)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.TenHopDong)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NgayBatDau)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NgayKetThuc)
            </dd>
        </dl>

        <dl class="row" style="margin-left: calc(-1* var(--bs-gutter-x));">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.NoiDung)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.NoiDung)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.NgayKy)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.NgayKy)
            </dd>


        </dl>
    </div>

    <br />
    <br />
</div>
